@using FineWeb.Clients
@rendermode InteractiveServer
@inject FineYarpClient YarpClient

<input @bind="_name" placeholder="Your name" />
<button @onclick="Send">Get</button>
@if (!string.IsNullOrEmpty(_response))
{
    <p>@_response</p>
}

@code {
    private string? _name;
    private string? _response;
    private async Task Send()
    {
        if (!string.IsNullOrEmpty(_name))
        {
            YarpClient.SetUser(_name);
        }

        _response = await YarpClient.Hello();
    }
}