@page "/"
@using FineWeb.Components.CommonComponents
@inject IConfiguration Configuration;

<style>

</style>

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">

    <div style="width: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h3>Main client</h3>
        <RequestPanel />
    </div>
    
    <div style="width: 50%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <h3>Services</h3>
        @foreach (var service in Services)
        {
            <ServiceCard Url=@service/>
        }
    </div>
  
</div>

@code
{
    private List<string> Services { get; set; }
    
    protected override Task OnInitializedAsync()
    {
        var services = Configuration.GetValue<string>("Services");
        Services = services.Split(",").Select(s => s.Trim()).ToList();
        return Task.CompletedTask;
    }
}